!#arg args ConverterParams
!#import "strings"
package main

import (
    "{{=s args.ModelsPackage }}"
	"github.com/tkrajina/gojson2models/jsonconv"
)

func panicIfErr(err error) {
	if err != nil {
		panic(err.Error())
	}
}

func main() {
	converter := jsonconv.New()
!for _, str := range args.Structs
	converter.Add({{=s str }}{})
!end
	panicIfErr(converter.Parse())
	panicIfErr(converter.ConvertTo{{=s strings.Title(args.TargetLanguage) }}("{{=s args.TargetFile }}"))
}
